* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica Neue", Arial, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.menu-principal {
    width: 100%;
    background: black;
    padding: 12px 30px;
    display: flex;
    gap: 25px;
    align-items: center;
    position: fixed;   
    top: 0;
    left: 0;
    z-index: 9999;   
}

.menu-principal a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s;
}

.menu-principal a:hover {
    opacity: 0.7;
}

.hero {
    position: relative;
    height: 85vh;
    width: 100%;
    overflow: hidden;
}

.hero-video {
    position: absolute;
    top: 85%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    filter: brightness(0.75);
}

.hero-overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom, transparent, #000);
}

.hero-content {
    position: absolute;
    bottom: 5%;
    left: 5%;
    color: #ffffff;
}

.hero-title {
    font-size: 3.5rem;
    font-weight: 700;
}

.hero-sub {
    font-size: 1.2rem;
    opacity: 0.8;
}

#sobre-destaque {
    position: relative;
    width: 100%;
    height: 700px;
}

#sobre-destaque img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#sobre-destaque .text-overlay {
    position: absolute;
    top: 80%;
    left: 5%;
    transform: translateY(-50%);
    color: white;
    text-shadow: 0 4px 20px rgba(0,0,0,0.6);
}

#sobre-destaque h2 {
    font-size: 40px;
    font-weight: 700;
}

.catalogo-intro {
    background: #fffefe;
    padding: 60px 20px;
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
}

.catalogo-intro img {
    width: 200px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

.catalogo-texto h2 {
    font-size: 1.7rem;
    line-height: 1.4;
    opacity: 0.9;
}

.tabs {
    display: flex;
    gap: 20px;
    padding: 20px;
    justify-content: center;
    background: #ffffff;
}

.tab {
    color: #7e290d;
    background: none;
    border: none;
    font-size: 1.1rem;
    cursor: pointer;
    opacity: 0.5;
    transition: 0.3s;
}

.tab.active {
    opacity: 1;
    border-bottom: 2px solid #7e290d;
}

.tab-content {
    display: none;
    padding: 40px 20px;
    background:#ffffff;
;
    color: #7e290d;
}

.tab-content.active {
    display: block;
}

.genre-title {
    font-size: 1rem; 
    margin: 10px 0;
    opacity: 0.8;
}

#catalogo .genre-title:first-of-type {
    font-size: 1rem; 
    margin-bottom: 10px;
    opacity: 0.8;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(325px, 1fr)); 
    gap: 4px;
    margin-bottom: 20px;
}

.film-card {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border-radius: 0px;
}

.film-card img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 16 / 10.5;
    transition: transform 0.3s ease;
    border-radius: 0;
}

.film-card:hover img {
    transform: scale(1.05);
}

.film-card h3 {
    position: absolute;
    bottom: 0; 
    left: 0;
    width: 100%;
    padding: 8px;
    font-size: 1rem;
    color: white;
    background: linear-gradient(to top, rgba(0,0,0,0.7), transparent); 
    box-sizing: border-box;
    margin: 0;

}

.dont-click {
    margin-top: 60px;
    padding: 20px 0;
    text-align: center;
}

.dont-click a {
    font-size: 1rem;          
    color: #7e290d;
    opacity: 0.10;             
    text-decoration: none;
    transition: opacity 0.4s ease;
}

.dont-click a:hover {
    opacity: 0.8;               
}
